%h5.stock-delivery-date-title
  Delivery Date
#delivery_date
  .field
    = form.label :delivery_date, "Delivery Date"
    = form.date_select :delivery_date
  .field
    = form.label :delivery_time, "Delivery Time"
    = form.select :delivery_time, JSON.parse(SpreeDeliveryOptions::Config.delivery_time_options).values, {}
%h5.stock-delivery-instructions-title
  Delivery Instructions/Comments
#delivery_instructions
  .field
    = form.text_area :delivery_instructions
