%fieldset#delivery-info.no-border-bottom
  %legend= Spree.t(:delivery_info)
  %table
    %thead
      %th= Spree.t(:date)
      %th= Spree.t(:time)
    %tbody
      %td= @order.delivery_date
      %td= @order.delivery_time
  .delivery-instructions
    %label= Spree.t(:delivery_instructions)
    %span
      - if @order.delivery_instructions.nil?
        No instructions provided
      - else
        = @order.delivery_instructions
      
    

